In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
df = pd.read_csv('Dados/asteroides.csv')
df

,velocidade_relativa_kms,velocidade_relativa_kmh,Orbit Uncertainity,inclinacao,periodo_da_orbita,distancia_perielio,anomalia_media,movimento_medio,perigo
0,6.115834,22017.003799,5,6.025981,609.599786,0.808259,264.837533,0.590551,1
1,18.113985,65210.346095,3,28.412996,425.869294,0.718200,173.741112,0.845330,0
2,7.590711,27326.560182,0,4.237961,643.580228,0.950791,292.893654,0.559371,1
3,11.173874,40225.948191,6,7.905894,514.082140,0.983902,68.741007,0.700277,0
4,9.840831,35426.991794,1,16.793382,495.597821,0.967687,135.142133,0.726395,1
...,...,...,...,...,...,...,...,...,...
4682,22.154265,79755.354273,8,39.880491,457.179984,0.741558,304.306025,0.787436,0
4683,3.225150,11610.539577,6,5.360249,407.185767,0.996434,282.978786,0.884117,0
4684,7.191642,25889.910626,6,4.405467,690.054279,0.965760,203.501147,0.521698,0
4685,11.352090,40867.522309,5,21.080244,662.048343,1.185467,203.524965,0.543767,0
4686,35.946852,129408.666253,6,53.574923,653.679098,0.876110,184.820424,0.550729,0